.main-showcase {
    border: 1px;
    height: 100%;
    border: tomato;
    border-style: double;
    padding: 10px;

    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:3fr 1fr;
}